.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 8px;
  gap: 0px 20px; /* gutter */
  margin: 70px;
  padding: 0 70px; /* margins top-bottom, left-right / rows & columns */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 8px; /*   grid-template-rows: repeat(1000, 8px); might slow down browser so making it  grid-auto-rows: 8p;*/
    gap: 0px 20px; /* gutter */
    max-width: 768px;
    margin: 0px 70px;
    padding: 0 80px; /* margins */
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 8px;
    gap: 0px 20px; /* gutter */
    max-width: 1200px;
    margin: 70px;
    padding: 0 70px; /* margins top-bottom, left-right / rows & columns */
  }
}
